# Compilation folders
/build/
/out/
/dist/

# Node.js / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.suo
*.user
*.log

# Temporal files
*.tmp
*.temp

# Gradle
.gradle/


/context/
/test/dev/
/test/*/*.java
/test/*/*.class
/test/*/*.expresso.typings
